<div class="control-group area" >
<News:area name='provinces'/>
  <select name="province">
  <empty name='data.province'>
  <option disabled selected style='display:none;'>省</option>
  </empty>
  <foreach name='provinces' item='v'>
  
    <option value='{$v.id}' <if condition='$v["id"] eq $data["province"]'>selected</if> >{$v.title}</option>
  </foreach>
  </select>
  <notempty name='data.province'>
    <News:area name='districts' pid='$data["province"]'/>
  </notempty>
  <select name="district">
  <notempty name='districts'>
  <foreach name='districts' item='v'>
    <option value='{$v.id}' <if condition='$v["id"] eq $data["district"]'>selected</if> >{$v.title}</option>
  </foreach>
  <else />
  <option>市</option>
  </notempty>
  </select>

  <notempty name='data.district'>
    <News:area name='citys' pid='$data["district"]'/>
  </notempty>

  <select name="city">
  
  <notempty name='citys'>
  <foreach name='citys' item='v'>
    <option value='{$v.id}' <if condition='$v["id"] eq $data["city"]'>selected</if> >{$v.title}</option>
  </foreach>
  <else />
  <option>区</option>
  </notempty>

  </select>
</div>

  <script>
    seajs.use('area', function(area){
      area.web();
    });
  </script>