<volist name="data.items_list" id="vo">
  <php>
    $param = array('id' => $vo['id']);
    if($data['secret']){
      $param['sdp_secret'] = $data['secret'];
    }
    $item_path = U('Item/detail', $param);
  </php>
  <div class="item">
    <div class="inner">
      <a href="{$item_path}"><img src="__IMG__/img-pai-bg.png" data-url="{:get_image_thumb($vo['cover_path'], 400, 400)}" class="lazy" alt="{$vo.name}"></a>
      <div class="info">
        <a href="{$item_path}" class="name">{$vo.name}</a>
        <p class="price">
          <span class="text-danger"><em class="yen">&yen;</em>{$vo.price}</span>
          <a href="{$item_path}" class="buy-btn"><span>立即购买</span></a>
        </p>
      </div>
    </div>
    
  </div>
</volist>
<script>
  C.has_more = '{$_hasmore}';
</script>