<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>用户优惠券流水({$_total})</h2>
    </div>
    <!-- 按钮工具栏 -->
    <div class="cf">
        <div class="fl">
            <a class="btn" href="{:U('coupon')}">刷 新<span style='font-size:12px;'>（清空搜索条件）</span></a>
            <notempty name="list">
                <a class="btn export-excel"  href="javascript:;"  url="{:U('export',array('keyword'=>I('keyword'),  'start_time'=>I('start_time'),'end_time'=>I('end_time'),'model'=>'CouponUser'))}" >导 出</a>
                <else/>
                <button class="btn" disabled="disabled">导 出</button>
            </notempty>
        </div>
        <!-- 高级搜索 -->
        <form action="{:U('coupon')}" name="SearchForms" method="GET" id="J_search-form">
            <div class="search-form fr cf">
                <notempty name="_GET.uid">
                    <div class="fl">
        <span class="search-option" id="J_search_uid">
          用户：{:I('get.uid','',get_nickname)} 
          <i class="icon icon-close" onclick="$('#J_search_uid').remove();"></i>
          <input type="hidden" name="uid" value="{:I('get.uid')}"/>
        </span>
                    </div>
                </notempty>
                <div class="sleft">
                    <input type="text" name="keyword" class="search-input" value="{:I('get.keyword')}" placeholder="用户名、优惠券、订单编号">
                    <a class="sch-btn" href="javascript:;" id="search_name" url="{:U('coupon')}"><i class="btn-search"></i></a>
                </div>

                <div class="sleft">
                    <select id="time_type" name="time_type" class="fl">
                        <option value="create_time">交易时间</option>
                    </select>
                    <input type="text" name="start_time" class="search-input w-100 date_select" value="{:I('get.start_time')}" placeholder="开始"/>
                    <span class="fl line-h">至</span>
                    <input type="text" name="end_time" class="search-input w-100 date_select" value="{:I('get.end_time')}" placeholder="结束"/>
                    <a class="sch-btn" href="javascript:;" id="search" onclick="$('#J_search-form').submit()"><i class="btn-search"></i></a>
                </div>
            </div>
        </form>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th>ID</th>
                <th>用户</th>
                <th>优惠券</th>
                <th>优惠券编号</th>
                <th>使用金额(元)</th>
                <th>使用时间</th>
                <th>订单编号</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td><a href="{:U('User/view',array('id'=>$vo['uid']))}">{$vo.uid|get_nickname}</a></td>
                        <td>{$vo.name}</td>
                        <td>{$vo.number}</td>
                        <td>{$vo.use_amount}</td>
                        <td>{$vo.use_time|time_format}</td>
                        <td>{$vo.order_sn}</td>
                    </tr>
                </volist>
                <else/>
                <tr><td colspan="7" class="text-center"> aOh! 暂时还没有内容! </td></tr>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Admin/js/My97Date/WdatePicker.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#search_name").click(function(){
                var url = $(this).attr('url');
                var query  = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
                query = query.replace(/^&/g,'');
                if(url.indexOf('?')>0){
                    url += '&' + query;
                }else{
                    url += '?' + query;
                }
                window.location.href = url;
            });


            /* 导出excel文件等待提示 */
            $('.export-excel').click(function(){
                document.SearchForms.action = $('.export-excel').attr('url');
                document.SearchForms.submit();
                setTimeout(function(){
                    window.location.reload();
                },3000);
            });


            //回车搜索
            $(".search-input").keyup(function(e){
                if(e.keyCode === 13){
                    $("#search").click();
                    return false;
                }
            });
            //搜索下拉菜单及时过滤
            $('#J_search-form select').change(function(){
                $("#search").click();
            });
            //设置单选，复选，下拉菜单的值
            Core.setValue('type', '{$_GET['type']|default = ""}');
            //导航高亮
            highlight_subnav("{:U('User/coupon')}");
            //时间选择
            $('.date_select').focus(function(){
                WdatePicker({skin: 'twoer', dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d'});
            });
        });
    </script>
</block>
