/*营销模块css*/

/*拼团*/
	/*拼团列表*/
.Join_detail{ background-color: #f3f3f3 }
.joinlist {}
.thumbnail .joinlist .thumbnail-info h3{ color:#000000}
.thumbnail .joinlist .thumbnail-info h3 span{ font-size:12px;color:#999999}
.thumbnail .joinlist .btn-sm{ background:#2d8701;width:100%;border:none;color:#ffffff}
.thumbnail .joinlist .btn-sm:hover{ color:#ffffff}


.thumbnail .joinlist .J_spec_price { font-size: 14px;color: #000;}


/******拼团分享页********/
.their-view { position: relative;margin-top: 23px;float: left;width: 100%;padding-bottom: 20px;border-bottom: 1px solid #eee;}
.their-view-l { float: left;width: 125px;height: 125px;background: #f1f1f1;}
.their-view-l > img {width: 125px;height: 125px;}
.their-view-c { float: left;margin-left: 25px;}
.their-view-c > h3 {font-size: 16px;color: #000;margin-top: 35px;}
.their-view-c > label { display: block;font-size: 16px;margin: 20px 0;font-weight: normal;}
.their-view-c > span {  font-size: 14px;color: #999;}
.their-view-r {float: right;}
.their-view-r > label { font-size: 30px;text-align: center;color: #fa7600;font-weight: normal;display: block;margin-top: 30px;margin-bottom: 20px;}
.countdown {font-size: 16px;color: #999;}
.countdown > span { font-size: 16px;color: #2d8701;display: inline-block;margin-right: 30px;}
.their-view-r > a { width: 258px;height: 48px;display: inline-block;background: #2d8701;color: #fff;font-size: 16px;line-height: 48px;text-align: center;border-radius: 6px;}
.their-view-r > a > span {  font-size: 12px;}
.their-head { float: left;width: 100%;margin-top: 30px;}
.their-head-l {  float: left;width: 107px;height: 107px;border-radius: 50%;background: #f1f1f1;position: relative;}
.their-head-l > img { width: 107px;height: 107px;}
.their-head-l > span { bottom: 10px;right: -8px;width: 56px;height: 22px;border: 1px solid #fff;font-size: 15px;color: #fff;line-height: 19px;text-align: center;display: block;position: absolute;background: #fb8f1a;border-radius: 10px;}
.their-head-r {  float: left;margin-left: 45px;width: 1003px;background: #f2f2f2;height: 110px;position: relative;padding-left: 20px;}
.their-head-r > img {position: absolute;left: -28px;top: 0;}
.their-head-r > a { cursor: none;font-size: 18px;color: #333;display: inline-block;margin-top: 20px;width: 100%;}
.their-head-r > a > span {display: inline-block;margin-left: 15px;color: #666;font-size: 14px;}
.their-head-r > a > label { float: right;font-size: 14px;color: #666;margin-right: 18px;font-weight: normal;}
.their-head-r > p {font-size: 16px;margin-top: 15px;color: #000;}
.their-head-r > p > label {color: #2d8701;font-weight: normal;}
/*拼团规则*/
.rule {  width: 100%;height: 126px;margin: 18px 0 0px;background: #fff;float: left;padding-left: 27px;}
 .rule > h1 {  font-size: 18px;color: #333;margin: 18px 0 25px;}
.rule > h1 > a {display: inline-block;float: right;margin-right: 18px;font-size: 14px;color: #666;}
.rule > ul { list-style: none;}
.rule > ul > li { float: left;font-size: 14px;color: #666;margin-right: 25px;}
.rule > ul > li > span {cursor: pointer;}
.rule > ul > li:hover a {color: #2d8701;border: 1px solid #2d8701;}
.rule > ul > li:hover span { color: #2d8701;}
.rule > ul > li:hover label { background: #2d8701;}
.rule > ul > li:last-child {margin-right: 0;}
.rule > ul > li > a {width: 27px;height: 27px;text-align: center;line-height: 27px;border-radius: 50%;border: 1px solid #666;font-size: 14px;color: #666;display: inline-block;margin-right: 10px;}
.rule > ul > li > label {width: 80px;height: 1px;color: #666;display: inline-block;background: #666;margin-left: 10px;}
.single-buy {font-size: 12px;font-weight: normal;color: #2d8701;display: inline-block;margin-top: 3px;}
.open-group { height: 64px;width: 100%;line-height: 64px;margin-bottom:20px;}
.open-group > span {display: inline-block;height: 100%;width: 371px;background: #ededed;font-size: 20px;color: #f4830a;float:left;}
.open-group > span > label {font-size: 14px;color: #f4830a;margin-left: 20px;}
.open-group > span > a {cursor: default;font-size: 14px;color: #999;display: inline-block;margin-left: 40px;}
.open-group > a {display: inline-block;text-align: center;color: #fff;background: #2d8701;line-height: 64px;height: 64px;font-size: 16px;width: 150px;float: left;}

/*参团版块*/
.offer {
    width: 100%;
    height: 67px;
    line-height: 67px;
    margin: 15px 0;
    background:#f3f3f3;
}
.offer>img{
    width:67px;
    height:67px;
    background:#f1f1f1;
    float:left;
}
.offer-head {
font-size:16px;
color:#333;
display:inline-block;
margin-left:10px;
}
    .offer-head > span {
    display:inline-block;
    margin-left:10px;
    font-size:14px;
    color:#999;
    }
.offer > p {
color:#999;font-size:16px;display:inline-block;/* margin-left:240px; */float: right;}

    .offer > p > span ,.offer > p >a>span{
    color:#2d8701;
    }
    .offer > p > a {
    color:#333;
    display:inline-block;
    margin-left:20px;
    cursor:default;
    }
.offer > a {
width:130px;height:35px;line-height:35px;color:#fff;background:#2d8701;text-align:center;border-radius:8px;display:inline-block;margin-left:35px;float: right;margin: 16px 15px 0 20px;}
}